h2{
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.25;
    padding-bottom: 15px;
}
h3{
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.5;
    padding-bottom: 15px;
}
p{
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5;
}
// ----------- HERO ---------- //
.hero{
    height: 100vh;
    background-image: url("/images/main_background.jpeg");
    background-position: center;
    background-size: cover;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}
.header--nav{
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 15px;
    padding-top: 30px;
}
.header-list{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.top--list__item{
    color: #FFFFFF;
    text-decoration: none;
}
.header-bottom{
    display: flex;
    justify-content: space-between;
}
.rg{
    height: 35px;
    background-color:rgba(0,0,0,0);
    color: white;
    margin-right: 10px;
    border: 1px solid white;
}
.rg:hover{
    background-color: white;
    color: #1B56C5;
}
.lg{
    height: 35px;
    width: 100px;
    color: #1B56C5;
}
.main{
    display:inline-flex;
    margin-top: 85px;
}
.text__h1{
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.35;
    margin-bottom: 20px;
    color: white;
    padding-top: 30px;
}
.text__h2{
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 1.35;
    margin-bottom: 40px;
    color: white;
}
.more {
    width: 180px;
    color: #1B56C5;
}
.main__img > img{
    width: 646px;
}
// ----------- OPTIONS ---------- //
.options{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 110px;
}
.list-of-options{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.list-of-options__item{
    width: 255px;
    height: 200px;
    text-align: center;
    padding-top: 30px;
    padding-left: 32px;
    padding-right: 32px;
}
.list-of-options__content{
    padding-top: 20px;
}
.list-of-options__content__item{
    padding-bottom: 10px;
}
.options-img{
    width: 70px;
}
// ----------- SECURITY ---------- //
.security{
    background-image: url('/images/main_background.jpeg');
    background-position: center;
    background-size: cover;
}
.security__content{
    display: inline-flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 160px;
}
.content-text{
    width: 530px;
    color: white;
    padding-right: 50px;
}
.security-list{
    padding-top: 25px;
}
.list__item{
    display: inline-flex;
    align-items: center;
    padding-bottom: 20px;
}
.checkout{
    margin-right: 10px;
}
.security-img > img{
    width: 500px;
}
// ----------- PROMO ---------- //
.promo-s{
    display: inline-flex;
    margin-top: 83px;
    margin-bottom: 84px;
    align-items: center;
    justify-content: space-between;
}
.balancer-text{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.25;
}
.balancer-price{
    font-size: 2.26rem;
    font-weight: 700;
    line-height: 1.25;
}
.balancer-img { grid-area: img; }
.balancer-text { grid-area: text; }
.balancer-price { grid-area: price; }

.balancer{
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-areas: 'img text'
                         'img price';
    grid-gap: 5px;
    width: 500px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 10px 50px rgba(0, 59, 121, 0.0725798);
    border-radius: 20px;               
}
// ----------- WORLD MAP ---------- //
.map{
    background-image: url('/images/main_background.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
}
.map-content{
    margin-top: 65px;
}    
.map-content__text{    
    text-align: center;
    color: #FFFFFF;
}
.world-map > img{
    width: 1065px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 150px;
}
// ----------- QA ---------- //
.question{
    background-image: url('/images/main_background2.png');
    background-position: center;
    background-size: cover;
}
.question-content-text{
    text-align: center;
    padding-top: 63px;
    margin-bottom: 56px;
}
.questiouns {
    padding-bottom: 125px;
}
/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
    display: none;
}
.hide + label{
    display: inline-flex;
    justify-content: space-between;
    color: #2770EC;
    cursor: pointer;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;
    width: 100%;
}
/* вид текста label */
.hide + label > p {
    font-size: 1.75rem;
    line-height: 1.28;
    font-weight: 600;
    
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: #2770EC;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    width: 100%;
    background: #efefef;
    background: #FFFFFF;
    font-size: 1.75rem;
    line-height: 1.28;
    font-weight: 600;
    color: #2770EC;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    /* чуточку анимации при появлении */
     -webkit-animation:fade ease-in 0.5s; 
     -moz-animation:fade ease-in 0.5s;
     animation:fade ease-in 0.5s; 
}
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }   
}
// ----------- FOOTER ---------- //
footer{
    background-image: url('/images/main_background.jpeg');
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}
.footer-list{
    display: inline-flex;
    gap: 180px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 75px;
    margin-bottom: 85px;
}
.footer-list > ul > li > .slogan{
    margin-top:0 ;
    margin-bottom: 20px;
}
.footer-list > ul > li > p{
    font-weight: 700;
    margin-top: 25px;
}

.footer-list > ul > li > a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.25;

}

